@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body {
    align-items: center;
    /*background-color: hsl(0, 0%, 95%);*/
    display: flex;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 400;
    min-height: 100vh;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.wrapper {
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem; /* Space around the boxes */
    overflow: hidden; /* So we can see the border */
}

.box {
    padding: 50px; /* Space inside, p, h2, etc */
}

.box h2 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    font-size: 30px;
}

.box p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.6;
}

.box a {
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    border-radius: 30px;
    padding: 15px 14px;
    margin-top: 20px;
    display: inline-block;
    border: 2px solid hsl(0, 0%, 95%); /* Does the white border around when we have the mouse on the top */
    transition: all .4s ease-in-out;
}

.box1 {
    background: hsl(31, 77%, 52%);
}

.box2 {
    background: hsl(184, 100%, 22%);
}

.box3 {
    background: hsl(179, 100%, 13%);
}

.box1 a {
    color: hsl(31, 77%, 52%);
}

.box2 a {
    color: hsl(184, 100%, 22%);
}

.box3 a {
    color: hsl(179, 100%, 13%);
}

.box a:hover {
    color: hsl(0, 0%, 95%);
    background: transparent;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}
